# Required version of Python: ==3.12.0 than everything works correctly

# The main framework
django==5.2.9
djangorestframework==3.16.1

# System utilities and configuration
# celery==5.6.2
# redis==7.2.1
python-dotenv==1.1.1
requests==2.32.5
pydantic==2.12.5
drf-spectacular==0.29.0
httpx==0.28.1
asyncio==4.0.0
anyio==4.12.1
numpy==2.4.3

web3==7.14.1
git+https://github.com/IBM/LNN.git
langgraph==1.0.10
google-genai==1.67.0
eth-account==0.13.7

# Packages documentation
#  https://web3py.readthedocs.io/en/latest/quickstart.html#
#  https://docs.langchain.com/oss/python/langgraph/quickstart
#  https://ibm.github.io/LNN/introduction.html
#  https://github.com/karpathy/llm-council

# Hackathon utilities documentation
#  https://eips.ethereum.org/EIPS/eip-8004
#  https://eips.ethereum.org/EIPS/eip-712
#  https://docs.dex-trade.com/
